name: Windows-RDP-with-Tailscale-Random-Password

on: workflow_dispatch

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Download Tailscale
        run: |
          Invoke-WebRequest https://pkgs.tailscale.com/stable/tailscale-setup.exe -OutFile tailscale-setup.exe
          Start-Process .\tailscale-setup.exe -Wait

      - name: Connect Tailscale
        run: |
          tailscale up --authkey "${{ secrets.TS_AUTH_KEY }}"
          tailscale ip -4 > ip.txt

      - name: Generate Random Password
        id: generate_password
        run: |
          $length = 15
          $chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()-_'
          $randpw = -join ((1..$length) | ForEach-Object { $chars[(Get-Random -Minimum 0 -Maximum $chars.Length)] })
          echo "::set-output name=password::$randpw"
          Write-Host "Random Password: $randpw"
          
      - name: Set Random Password for runneradmin
        run: |
          $randompw = "${{ steps.generate_password.outputs.password }}"
          Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText $randompw -Force)

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:SystemCurrentControlSetControlTerminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:SystemCurrentControlSetControlTerminal ServerWinStationsRDP-Tcp' -Name "UserAuthentication" -Value 1

      - name: Show Credentials and Tailscale IP
        run: |
          Write-Host "Username: runneradmin"
          Write-Host "Password: ${{ steps.generate_password.outputs.password }}"
          Write-Host "Tailscale IP:"
          Get-Content ip.txt
